/* *******************************************/
/* ************** DEFAULT SETUP **************/
/* *******************************************/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;  
    /* font-family: 'Raleway', sans-serif; */
    font-size: 20px;
    /* default => font-size : 16px; */
    text-rendering: optimizeLegibility;
}

body{
    overflow-x: hidden;
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
}
/* *******************************************/
/* ************** REUSABLECONTENT **************/
/* *******************************************/
.row
{
    width: 100%;
}
h2{
    color:rgba(44, 62, 80,1.0);
    /* color: #e67e22; */
    font-size: 180%;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}
h2::after {
    content: " ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: rgba(52, 73, 94,0.7);
    margin: 0 auto;
    margin-top: 5px;
} 
/* *******************************************/
/* ************** INTRODUCTION **************/
/* *******************************************/
.introduction_list
{
    padding-left: 10%;
    padding-right: 10%;
    list-style-type: square;
}
/* *******************************************/
/* ************** PARTNERSHIP **************/
/* *******************************************/
.partnership{
    text-align: center;
}